<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
    <servlet-name>LoginDataServlet</servlet-name>
    <servlet-class>ictgradschool.project.servlets.LoginDataServlet</servlet-class>
</servlet>

    <servlet-mapping>
        <servlet-name>LoginDataServlet</servlet-name>
        <url-pattern>/loginData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginDataServletNew</servlet-name>
        <servlet-class>ictgradschool.project.servlets.LoginDataServletNew</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginDataServletNew</servlet-name>
        <url-pattern>/loginDataNew</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfInfoServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ProfInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfInfoServlet</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EditProfServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.EditProfServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditProfServlet</servlet-name>
        <url-pattern>/editProf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeIconUploadServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ChangeIconUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeIconUploadServlet</servlet-name>
        <url-pattern>/changeiconup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeIconLibServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ChangeIconLibServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeIconLibServlet</servlet-name>
        <url-pattern>/changeiconlib</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.DeleteAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.AddPostServlet</servlet-class>
    </servlet>

        <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/addPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCommentServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.AddCommentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCommentServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddReplyServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.AddReplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddReplyServlet</servlet-name>
        <url-pattern>/addReply</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PostDeleteEditServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.PostDeleteEditBtnServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostDeleteEditServlet</servlet-name>
        <url-pattern>/postDeleteEdit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.EditPostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditPostServlet</servlet-name>
        <url-pattern>/editPost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.DeletePostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/deletePost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowMainPageServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ShowMainPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowMainPageServlet</servlet-name>
        <url-pattern>/showMain</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteReplyServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.DeleteReplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteReplyServlet</servlet-name>
        <url-pattern>/deleteReply</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.DeleteCommentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/deleteComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowPostServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ShowPostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowPostServlet</servlet-name>
        <url-pattern>/showPost</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserNameCheckServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.UserNameCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserNameCheckServlet</servlet-name>
        <url-pattern>/userNameCheck</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SortPostsServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.SortPostsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SortPostsServlet</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>BatchAccsServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.BatchAccsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BatchAccsServlet</servlet-name>
        <url-pattern>/batchAccs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.ResetPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewPasswordServlet</servlet-name>
        <servlet-class>ictgradschool.project.servlets.NewPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewPasswordServlet</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>




</web-app>